<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="account_created" method="post" enctype="multipart/form-data">
 {% csrf_token %}
     <label>Enter User name </label><br>
    <input type="text" name="User_Id" class="field-long" placeholder="Ipfs Id" /><br>
    <input type="text" name="password" class="field-long" placeholder="password length must be a multiple of 16" /><br>
    <input type="submit" name="submit"  value="Create Account">
    </form><br><br>


</body>
</html>